@import "tailwindcss";

@font-face {
    font-family: 'PFStardustS';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/PFStardustS.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html > body {
  font-family: "PFStardustS";
}